.inquiryBox {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background-color: #146060;
	width: 70%;
	margin: 50px auto;
	padding: 30px;
	border: none;
	border-radius: 8px;
}
.inquiryBox h2 {
	font-family: var(--accentFont);
	font-size: 40px;
	color: var(--yellow);
}
.inquiryBox h3 {
	letter-spacing: 3px;
}
.inquiryBox button {
	padding: 15px 20px;
	border-radius: 8px;
	border: none;
	background-color: var(--yellow);
	box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}
.inquiryBox button:hover {
	opacity: 0.7;
	cursor: pointer;
}
